<!doctype html>
<html>
    <head>
        <title>Linear algebra project</title>
        <link rel="stylesheet" href="C:\Users\cs.ucu.edu.ua\Desktop\WebAlgebra-master\style.css" media="screen" title="no title" charset="utf-8">
        <meta charset="utf-8">
        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
             tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
         });
         </script>
        <script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    </head>
    <body style="background-color: rgba(245, 220, 229, 0.32);">
        <div id="container">
            <header class="title" style="position: fixed;  top: 0; left: -2px; width: 100%; height: 70px; border: 2px solid black; text-align: center; background: #5d4077; color: beige; z-index: 3;">
                <h1>A matrix inverse calculator</h1>
            </header>
            <div id="content" style="position: relative; margin-left: 5%; padding-top:10%; z-index: 2;">
                <form method="post" action="/">
                  <label for="matrix" style="font-size: 20px;">Please enter matrix:</label><br />
                  <textarea name="matrix" rows="5" style="width: 150px; height: 150px; font-size: 17px;">{% if new_matrix is defined %}{{matrix}}{% endif %}</textarea><br/>
                  <input value="calculate" type="submit" style="margin-top: 10px; margin-left: 25px; height: 30px; width:100px; border-radius: 15%; font-size: 17px; color: #5d4077;"/>
                </form>
             </div>
            {% if new_matrix is defined %}
                <p style="margin-left: 5%; margin-top: 2%;font-size: 20px;">Inverse matrix: {{new_matrix}}</p>
            {% endif %}
            <div style=" border-top: 2px #555 dashed;  margin-left: 4%; margin-top: 3%; margin-right: 20%; font-size: 20px; line-height:1.2; font-style: italic; color: #444;"><p style="font-size: 27px;"><b>What do we do?</b></p><p>We use Doolitle method to find LU matrices. After that we solve system of equations in form Ly=Ci and Uxi=y where xi is a vector from column of inversed matrix and Ci is a vector from column of Identity matrix. That's how we find A inversed.

Computational complexicity for this method is O(n^2)</p></div>
        </div>
        <div id="right-side" style="position: fixed; float:right; top: 0; right:0; margin-top: 70px; display: inline-flex; height:100%; width: 50%;">
          <div style="position: relative; width:60%;  margin-top: 10%; left: -25%; font-size: 25px; font-style: italic;"><p>Linear Algebra?</p><p>Sounds straightforward</p></div>
        <div id="right-sidebar" style=" margin-right: 0px; width: 250px;  border-left: 2px dashed darkblue; height:100%; width: 40%; z-index:1; text-align: center; font-size: 20px; color: #5d4077; background-color: beige;">
        <p><b>Our team</b></p>
        <p>Vladyslav Velychko</p>
        <p>Anton Tarasov</p>
        <p>Yaryna Korduba</p>
        <p>Myroslav Syvokhip</p>
        <p>Yuliya Antonyshyn</p>
          <div><a href="http://cs.ucu.edu.ua/en/"><img src="https://yeed.me/system/clubs/logos/000/163/626/medium/1459200_1438296833130750_8546142634332457569_n.jpg?1464188241" alt="CS@UCU_logotype" style="position: relative; width: 50%; height: 50%; "/></a></div></div>
        </div>
    </body>
</html>
